.carousel {
  position: relative;
}

.carousel__slider {
  padding-top: 35px;
}

.carousel > button {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  opacity: 0.3;
  /* transition: transform 800ms; */
}

.carousel > button > img {
  width: 100%;
}

.carousel .carousel__next-button {
  right: -35px;
  transition: right 600ms;
}

.carousel .carousel__back-button {
  left: -35px;
  transition: left 600ms;
}

/* .carousel button:hover{
    transform: scale(1.2);
} */

.carousel .carousel__next-button:hover {
  right: -40px;
  opacity: 0.8;
}

.carousel .carousel__back-button:hover {
  left: -40px;
  opacity: 0.8;
}

.carousel .carousel__back-button img {
  transform: rotate(180deg);
}

.expand {
  width: 100%;
  max-height: 35px;
  border: none;
  background-color: transparent;
  transition: bottom 600ms;
  cursor: pointer;
  position: absolute;
  bottom: 18px;
  padding: 0px 10px;
  right: 0;
}

.expand:hover {
  bottom: 13px;
}

.rotate {
  transform: rotate(90deg);
  margin-top: -40px;
}
.slide {
  cursor: pointer;
}

.slide img {
  pointer-events: none;
  transition: width 500ms;
  width: 100%;
  max-width: 300px;
  margin: auto;
    display: inherit;
}

.transitionMovie {
  transition: height 250ms;
}

@media (min-width: 780px){
  .details-closed .is-open .slide img {
    width: 150%;
  }
  .carousel__slide {
    transition-duration: 500ms;
  }
  /* Middle slides */
  .details-closed .open-now .carousel__slide {
    transform: translate3d(-25%, 0, 0);
  }
  .details-closed .open-now .carousel__slide.is-open {
    transform: translate3d(-25%, -15%, 0);
  }
  .details-closed .open-now .is-open ~ .carousel__slide {
    transform: translate3d(25%, 0, 0);
  }
  /* First slide */
  .details-closed .open-now .carousel__slide.is-open.first-slide {
    transform: translate3d(0, -15%, 0);
  }
  .details-closed .open-now .is-open.first-slide ~ .carousel__slide {
    transform: translate3d(50%, 0, 0);
  }
  
  /* Last slide */
  .details-closed .open-now.last__slide .carousel__slide {
    transform: translate3d(-50%, 0, 0);
  }
  .details-closed .open-now .carousel__slide.is-open.last-slide {
    transform: translate3d(-50%, -15%, 0);
  }
  .details-closed .open-now.last__slide .is-open.last-slide ~ .carousel__slide {
    transform: translate3d(0%, 0, 0);
  }
}