.flag::after {
  content: attr(title);
  padding-left: 5px;
  color: white;
  line-height: 20px;
}

i.flag:not(.icon) {
  width: auto;
}

@media  (max-width: 780px){
  .transitionMovie{
    top: -110px !important;
  }

  .Item .image{
    display: none !important;
  }
}
